html,
body,
nav,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    height: 200px; 
    background-color: rgb(62, 146, 201);
    
}

div {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    line-height: 50px;
}

div:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(62, 146, 201);
    cursor: pointer;
}