.first:nth-child(2n+2){
    color: red;
}

.sec:nth-child(3n+2){
color: yellow;
}

ul#summer li.fav{
    color: red;
}

html body ul#summer li.fav{
    color: blue;
}
p{
    color: blue;
}
.oy{
    color: yellow;
}
[contenteditable]{
color: red;
}