html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;


}

div {
    background-color: orangered;
    width: 100%;
    height: 50px;
    background-color: ;
    position:fixed;
    top:93vh;
}