#mainsec {
    background-image: url(/Images/background-photo.jpg);
}

#mainsec>div {
    height: 18vh;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {

    justify-content: start;
    align-items: center;
    width: 40%;
}

header nav {
    width: 20%;
    justify-content: space-around;
}

header div,
header nav {
    display: flex;
    margin: 0 5px;
}

footer {
    display: none;
}