html,
body,
nav,
main,
div,
section,
header,
a,
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid yellowgreen; */
    font-family: "Cantarell", sans-serif;
    /* background-color: black; */
}

header {
    color: whitesmoke;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(14, 14, 14, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div,
header nav {
    display: flex;
    margin: 0 5px;
}

header div {
    justify-content: center;
    align-items: center;
    width: 100%;
}

header div:hover {
    color: rgb(217, 190, 127);
}

.logo {
    margin: 1px;
    font-size: 20px;
}

header nav {
    width: 20%;
    justify-content: space-around;
}

header nav {
    display: none;
}

.svg_style {
    fill: currentColor;
    width: 20px;
}

.svg_style:hover {
    fill: rgb(217, 190, 127);
}

#mainsec {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/background-photo-mobile-devices.jpg);
    background-position: center;
    background-origin: border-box;
    background-color: rgb(71, 68, 68);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainsec>div {
    height: 85vh;
}

.idx-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    position: relative;
    top: 40px;
}

.cen {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1rem;
}

h3 {
    margin-top: 15px;
    font-size: 1rem;
}

button {
    font-weight: 700;
    font-size: 0.8rem;
    padding: 3px 13px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 5px;
}

button:hover {
    background-color: whitesmoke;
    color: rgb(142, 120, 78);

}

footer {
    height: 15vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color: beige;

}

.svg_style2 {
    width: 30px;
    margin: 10px;
}

footer nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

a {
    /* text-align: center; */

    display: flex;
    justify-content: start;
    align-items: center;
    height: 50%;
    width: 50%;
}

a:hover {
    background-color: rgba(50, 47, 43, 0.5);
}